@charset "UTF-8";



* {
    margin: 0px;
    padding: 0px;
}


body { 
    background-image:url("imagens/main.png");
    font-family: Tahoma, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.861);
}
#playlist {
    list-style: none;
}

#playlist .faixa-atual a {
    color:white;
}

a.externo::after {
    content: "\00A0\1F517";
}


header {
    background-image: linear-gradient(to bottom, black, rgba(35, 5, 107, 0.289));
    min-height:150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 3em;
    font-weight: normal;
    margin: auto;
    margin-bottom: 20px;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.291);
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.796);
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;    
    margin: auto;
    padding-bottom: 50px;
    text-shadow:2px 2px 0px rgba(10, 10, 10, 0.338);
}


main {
    min-width: 300px;
    max-width: 1000px;
    margin:auto;
    margin-bottom:30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.738);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-attachment: fixed;
    background-image: cover;
}

main p {
    margin: 15px 0px;
    text-align:justify;
    text-indent:30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: black;
    font-weight: bold;
    
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-image: -moz-linear-gradient();
    padding: 2px 6px;
}

main a:hover {
    text-decoration: none;
    color:rgba(185, 97, 9, 0.522);
    text-shadow: 10px white !important;
}




main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin:auto;
}

div.video {
    background-color:white;
    margin: 0px -20px 30px -20px;
    padding:20px;
    padding-bottom: 58%;
    position: relative;
}

iframe#faixa-atual {

    width:20vw;
    height:150px;
    border: 2px solid black;
    background-image: url(imagens/dudu_semfundo.png);
 }


footer {
    background-color:rgba(0, 0, 0, 0.771);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;

}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;

}

footer a:hover {
    text-decoration: underline;
    color: white;
}